.card.card-outline-primary
  .card-block
    %strong Need help getting verified?
    %p
      If you are having any problems, or can’t provide the information at
      the moment we’ll do our best to help.
    %p
      = mail_to("coachteam@goodgym.org")
      %br
      = telephone_to("0203 432 3920", icon: false)
