---
trainers:
- :name: Juliet Stevenson
  :bio: I'm Juliet and I am proud to be the new GoodGym Trainer for Croydon.  Really
    looking forward to getting started with our first group runs.
  :photo: "/uploads/runner/avatar/3412/IMG_1310.jpg"
- :name: Jo Swift
  :bio: ''
  :photo: "/uploads/runner/avatar/3917/goodgym_promo_southwark_2-6134.jpg_effected.jpeg"
- :name: Katie Welford
  :bio: ''
  :photo: "/uploads/runner/avatar/4561/Katie"
- :name: Brahma Pochee
  :bio: GoodGym Newham Trainer.
  :photo: "/uploads/runner/avatar/4695/Soar_running.jpg"
- :name: Pru Comben
  :bio: I'm an exercise fiend! I'm a Level 3 Advanced PT, triathlete, kick boxer and
    studio class instructor. I also love bad puns and singing!
  :photo: "/uploads/runner/avatar/4746/Pru.jpg"
- :name: Chris Bennett
  :bio: Co-ordinator of GoodGym Bristol, occasional runner
  :photo: "/uploads/runner/avatar/6558/P1050323.JPG"
- :name: Paul Bown
  :bio: 'Camden Trainer, Sweet Potato advocate and Jazz Bar enthusiast '
  :photo: "/uploads/runner/avatar/6854/Happy_Birthday_Lucy.jpg"
- :name: Tom Craggs
  :bio: Full time running coach who occasionally runs a bit and likes to get out and
    see the local area.
  :photo: "/uploads/runner/avatar/6996/toms_pic.jpg"
- :name: Cory Wharton-Malcolm
  :bio: Fidgety so and so still searching for his soul, a need to run and a love for
    the road
  :photo: "/uploads/runner/avatar/6999/cory.jpg"
- :name: Kirsty Smith
  :bio: Athlete, Trainer, Coach, Design graduate
  :photo: "/uploads/runner/avatar/9093/kirsty.jpg"
- :name: Simon Loughran
  :bio: Islington Trainer. UKA coach, athlete and official with a passion for everything
    running-related.
  :photo: "/uploads/runner/avatar/11095/gg-profile.png"
- :name: Ellie Wood
  :bio: Brent GoodGym lead. Woman in business means business. Freelance sports developer,
    positive thinker. Runner, Crossfitter, Heavy Weightlifter. My philosophy is -
    Feel good, Do Good, Inspire.
  :photo: "/uploads/runner/avatar/11096/InstagramCapture_a1616891-d550-40b1-b006-221c82798942.jpg"
- :name: Adele Prince
  :bio: All-round running/cycling/swimming bundle of energy. Lover of Hilly Fields
    parkrun. Trainer at GoodGym Lewisham.
  :photo: "/uploads/runner/avatar/11369/image.jpeg"
- :name: Ed Field
  :bio: Partnership Manager at GoodGym central. Like to run a really long way.
  :photo: "/uploads/runner/avatar/11785/c9WIuJX8.jpeg"
- :name: 'Anna McKay '
  :bio: ''
  :photo: "/uploads/runner/avatar/14969/IMG_5897.JPG"
- :name: Varon Lewis
  :bio: GoodGym Haringey Trainer | England Athletics Run!& Athletics Activator | Qualified
    Personal Trainer. "I love helping people & the community"
  :photo: "/uploads/runner/avatar/16796/Screen_shot_2015-10-05_at_17.58.15.png"
- :name: Ken Hoye
  :bio: ''
  :photo: "/uploads/runner/avatar/16816/Goodgym_pic1.jpg"
- :name: Anastasia Hancock
  :bio: Trainer for wonderful Wandsworth
  :photo: "/uploads/runner/avatar/17577/10645051_10152634699642702_8174995710010197522_n.jpg"
- :name: 'Stephanie Akpinar '
  :bio: ''
  :photo: "/uploads/runner/avatar/18323/image.jpg"
- :name: Joel Wiles
  :bio: ''
  :photo: "/uploads/runner/avatar/20798/image.jpeg"
- :name: Lydia Turnbull
  :bio: ''
  :photo: "/uploads/runner/avatar/24967/11165231_10152954075308789_6537835980030874906_n.jpg"
- :name: James Poole
  :bio: Co-founder of AdventRunning | Captain of adidas Runners LDN | Trainer at GoodGym
    Redbridge | Coach | Ultra Runner | Team GB Spartathlon
  :photo: "/uploads/runner/avatar/25362/SH1_8230.jpg"
- :name: Sarah Place
  :bio: "Trainer for GoodGym Greenwich, freelance PT and running junkie :)\r\nRace
    to the Stones 100K finisher!"
  :photo: "/uploads/runner/avatar/25682/IMG_20151003_135947744_HDR.jpg"
- :name: Angela Isherwood
  :bio:
  :photo: "/uploads/runner/avatar/26368/12400545_10101408809651329_2192366618579525062_n.jpg"
- :name: Gemma
  :bio: GoodGym trainer and running coach with a passion for Health and Fitness.
  :photo: runner_default_logos/default.png
- :name: Pennie Varvarides
  :bio:
  :photo: "/uploads/runner/avatar/27945/IMG_8535.jpg"
- :name: Lisa Rattray
  :bio: ''
  :photo: "/uploads/runner/avatar/28356/ggbrent.jpg"
- :name: Mark Barun
  :bio:
  :photo: runner_default_logos/default.png
- :name: Stephen King
  :bio: I love running, love triathlon and love coaching people to achieve their fitness
    goals.
  :photo: "/uploads/runner/avatar/33131/GG_profile_pic.jpg"
---
%h1.strong Group runs
%p.lead
  We run in a group to a local organisation that needs help, complete a
  task like painting a fence or planing a tree, have a fun fitness session,
  and run back in 90 minutes. All fitness levels are welcome and we never
  leave anyone behind.


%h2.strong.text-sm-center These are the steps to reaching your running goal
.row
  .col-xs-3
    %h3 Step one
    %h4.strong Run
    %p We organise weekly group runs which are like flash mobs for good
  .col-xs-3
    %h3 Step two
    %h4.strong Help
    %p We run to community organisations and help them with tasks such as gardening or renovating.
  .col-xs-3
    %h3 Step three
    %h4.strong Run
    %p We like to have fun and run home. <strike>Sometimes treating ourselves to a lemonade in the local pub</strike>.
  .col-xs-3
    %h3 Step four
    %h4.strong Stretch
    %p Looking after you is also important to us. We have a certified trainer who leads the runs and makes sure you reach your goals

.text-xs-center
  %h2.strong Our trainers
  %p.lead These trainers will help you through your run

  .carousel.slide#trainers{ data: { ride: "carousel", interval: false } }
    %ol.carousel-indicators
      %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
      %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
      %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"}
    .carousel-inner{:role => "listbox"}
      - trainers.each_slice(3).each_with_index do |group, i|
        .carousel-item{ class: i == 0 ? "active" : nil }
          .row.text-xs-center
            - group.each_with_index do |trainer, j|
              .col-md-3{ class: j == 0 ? "offset-md-1" : nil }
                = image_tag "https://gg-api.s3.amazonaws.com"+trainer.photo, alt: "A photo of #{trainer.name}"
                %h4= trainer.name
                %p= trainer.bio

    %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-example-generic", :role => "button"}
      %span.icon-prev{"aria-hidden" => "true"}
      %span.sr-only Previous
    %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-example-generic", :role => "button"}
      %span.icon-next{"aria-hidden" => "true"}
      %span.sr-only Next
