$brand-primary: #FF0000;
$twitter-primary: #55ACEE;
$facebook-primary: #4C66A4;
$line-height-base: 1.5;
$font-family-base: "adelle-sans", sans-serif ;
$font-color-base: #cccccc ;
$headings-font-family: "lft_etica";
$font-family-base: "adellesans";

@import "fonts";

@import "bootstrap";
