$brand-primary: #ED1C24;
$twitter-primary: #55ACEE;
$facebook-primary: #4C66A4;
$line-height-base: 1.5;
$font-family-base: "adelle-sans", sans-serif ;
$font-color-base: #cccccc ;
$font-family-base: "adellesans";

$navbar-light-color:                rgba(0,0,0,1) !default;
$navbar-light-active-color:         #ED1C24 !default;

h1,h2,h3,h4,h5,h6 {
  &.strong {
    font-family: "lft_etica";
    text-transform: uppercase;
  }
}

@import "fonts";
@import "bootstrap";

@import "components/header";
@import "components/footer";
