.row
  .col-md-6.offset-md-3.text-md-center.splash-box
    %h1
      = image_tag "50_gg_logo.png"
      %span.sr-only Goodgym
    .row.pt-2.pb-2
      .col-md-12.text-md-center
        %form
          .form-group.string
            %div
              %input.form-control{ placeholder: "Name" }
          .form-group.string
            %input.form-control{ placeholder: "Email" }
          .form-group.string
            %input.form-control{ placeholder: "Password" }
          .form-group.string
            %input.form-control{ placeholder: "Confirm password" }
          = link_to "Sign up", "/my/verify", class: "btn btn-primary"

        %p.small= link_to "Already running? Login", login_path

        = link_to "Join with Facebook", "/my/verify", class: "btn btn-info"
