.home-page-splash {
  position: relative;
  text-align: center;
  margin-bottom: 2rem;

  .home-page-splash-image {
    background:rgba(0,0,0,1);
    max-height: 500px;
    overflow: hidden;

    img {
      width: 100%;
      opacity: 0.5;
      display: block;
      max-width: 100%;
      /* just in case, to force correct aspect ratio */
      height: auto !important;
      width: auto\9; /* ie8+9 */
      /* lt ie8 */
      -ms-interpolation-mode: bicubic;

      @include media-breakpoint-up(md) {
        margin-top: -75px;
      }
    }
  }

  h1 {
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);

    @include media-breakpoint-up(sm) {
      top: 40%;
      font-size: 3rem;
      br { display: none; }
    }
    @include media-breakpoint-up(md) {
      font-size: 4rem;
    }
  }
  .home-page-splash-text {
    width: 80%;
    margin: auto;
    text-align: center;
    @include media-breakpoint-up(sm) {
      font-size: 1.2rem;
      color: white;
      bottom: 5rem;
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    @include media-breakpoint-up(md) {
      font-size: 1.5rem;
    }
  }
}

.reasons {
  @include make-row();
  text-align: center;
  p { font-weight: bolder; }

  color: white;
  .reason {
    position: relative;
    float: left;
    width: 33.33333%;
    h3 {
      margin-top: 1rem;
      height: 6rem;
    }
    color: white;
    &:hover {
      color: white;
    }
    a {
      padding: 3rem;
      display: block;
      color: white;
      &:hover {
        color: white;
      }
    }
    p {
      height: 8rem;
    }
  }
  .group-runs {
    background:
      linear-gradient(rgba(255, 0, 0, 0.6), rgba(255, 0, 0, 0.6)),
      image_url("group-run.jpg");
    &:hover {
      background:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        image_url("group-run.jpg");
    }
  }
  .missions {
    background:
      linear-gradient(rgba(255, 0, 0, 0.6), rgba(255, 0, 0, 0.6)),
      image_url("group-run.jpg");
    &:hover {
      background:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        image_url("group-run.jpg");
    }
  }
  .coaches {
    background:
      linear-gradient(rgba(255, 0, 0, 0.6), rgba(255, 0, 0, 0.6)),
      image_url("group-run.jpg");
    &:hover {
      background:
        linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
        image_url("group-run.jpg");
    }
  }
}
