.home-page-splash {
  position: relative;
  text-align: center;
  margin-bottom: 2rem;

  .home-page-splash-image {
    background:rgba(0,0,0,1);
    max-height: 500px;
    overflow: hidden;

    img {
      width: 100%;
      opacity: 0.5;
      display: block;
      max-width: 100%;
      /* just in case, to force correct aspect ratio */
      height: auto !important;
      width: auto\9; /* ie8+9 */
      /* lt ie8 */
      -ms-interpolation-mode: bicubic;

      @include media-breakpoint-up(md) {
        margin-top: -75px;
      }
    }
  }

  h1 {
    color: white;
    position: absolute;
    top: 20%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);

    @include media-breakpoint-up(md) {
      top: 30%;
      font-size: 4rem;
      br { display: none; }
    }
  }
  .home-page-splash-text {
    width: 80%;
    margin: auto;
    text-align: center;
    @include media-breakpoint-up(md) {
      font-size: 1.5rem;
      color: white;
      bottom: 5rem;
      position: absolute;
      top: 53%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
