.my-profile {
  padding-top: 1rem;
  img {
    max-width: 100px;
    border-radius: 100%;
    border: 3px solid #fff;
  }
}

ul.badges {
  padding-left: 0px;
  list-style: none;
  text-align: center;

  .badge {
    width: 20%;
    background-color: $brand-primary;
    border-radius: 100%;
    display: inline-block;
    margin: 0.1rem;
    img {
      width: 100%;
      height: auto;
    }
  }
}

.card-img-left {
  float: left;
  margin-right: 1rem;
}

.btn-todo {
  @extend .btn;
  @extend .btn-lg;
  @extend .btn-primary;
}
