.run-splash {
  .run-splash-image {
    position: relative;
    z-index: -1;
    background:rgba(0,0,0,1);
  }
  img {
    opacity: 0.6;
    width: 100%;
  }
  .slash {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 5rem;
    @include media-breakpoint-up(md) {
      bottom: 5rem;
    }
    @include media-breakpoint-up(lg) {
      bottom: 10rem;
    }
    background-image: linear-gradient(to bottom left, rgba(0,0,0,0), rgba(0,0,0,0) 49%, $brand-primary 49%, $brand-primary);
  }
  .run-splash-caption {
    @include media-breakpoint-up(md) {
      margin-top: -5rem;
    }
    @include media-breakpoint-up(lg) {
      margin-top: -10rem;
    }
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    background-color: $brand-primary;
    color: white;
    h1 {
      font-size: 3.5rem;
      text-shadow: 1px 1px 2px black;
    }
    line-height: 2.5rem;
    p {
      font-size: 1.5rem;
    }
  }
}

.run-infographic {
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 1rem;
    text-transform: uppercase;
  }
  img {
    width: 60px;
    margin-top: 2rem;
  }
  .media {
    padding-top: 1rem;
    border-top: 5px solid $brand-primary;
    &:first-child {
      border: none;
    }
  }
  @include media-breakpoint-up(sm) {
    .media-container {
      @include make-row();
    }
    .media {
      @include make-col(3);
      border: none;
    }
    .media-left {
      padding-right: 10px;
      width: 100%;
      display: block;
      border-bottom: 10px solid $brand-primary;
      margin-bottom: 1rem;

      img {
        margin: 1rem 2rem;
      }
    }
    .media-body {
      padding: 0rem 1rem;
    }
  }
}

#trainers {
  .carousel-control {
    &.right, &.left {
      background-image: none;
    }
    .icon-next, .icon-prev {
      color: black;
    }
  }
  img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
  }
}
