%figure.banner-header
  = image_tag("results-banner-group-run@3x.png", class: "img-fluid")
  %figcaption
    %h2.strong.display-4
      Group runs

%p.lead Meet new people and get a great workout helping community projects

.card
  %h3 Every Tuesday
  %p
    %i.fa.fa-map-marker
    Starting at Papa's park?
  %p
    %i.fa.fa-calendar
    Start time 6:45pm
  %p Trainer Jo Swift
  %h4 Next run
  %p Cleaning up the leaves at Brixton Football club
  = link_to "Join in", "/signup", class: "btn btn-primary"

.card
  %h3 Starter session
  %p
    %i.fa.fa-calendar
    Tuesday 22nd November
  %p
    %i.fa.clock-o
    Start time 6:45pm
  %p Trainer Joel Wiles
  %h4 Next run
  %p Cleaning up the leaves at Brixton Football club
  = link_to "Join in", "/signin", class: "btn btn-primary"
