%figure.banner-header
  = image_tag("results-banner-missions@3x.png", class: "img-fluid")
  %figcaption
    %h2.strong.display-4
      Run missions to help older people

.card
  %h3 Winter declutter for Mrs M
  %p Help Ms M make space in her home
  %p Kennington area
  %p Tuesday November 22nd at 6:45pm
  =link_to "Run missions", "/signup", class: "btn btn-primary"

= link_to("Show more missions", "/search/missions")
