.jumbotron.text-sm-center
  %h1.strong.display-3 Do Good, Get Fit
  %p.lead
    We are a running club that does good.
    %br/
    To reach out to the elderly, meet like minded people and become in community activities.
  %p.lead
    We have completed
    %strong 24,000
    runs and good deeds to date.
.text-sm-center
  %h2 3 reasons to run
.row.text-sm-center
  .col-lg-4.group-runs
    %h3.strong Group runs
    %p
      Fancy something new?
      Meet new people and make your area a better place.
    %a{:href => ""} More info
  .col-lg-4.missions
    %h3.strong Run missions
    %p
      One off mission.
      Make
      %strike important deliveries to an isolated older person.
    %a{:href => ""} More info
  .col-lg-4.coaches
    %h3.strong Run to an older person
    %p
      Regular pairing with weekly runs to older person.
      They motivate your run, you motivate their life.
    %a{:href => ""} More info
